In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is " + name + ". Your age is " + age)

What is your name? Nihat
What is your age? 20
Your name is Nihat. Your age is 20

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a==b:
  print('They are equal')
else:
  print('They are not equal')

They are not equal

In [37]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a>b:
  print("a is grater than b")
elif(a<b):
  print("a is less than b")
else:
  print("a is equal to b")

a is less than b

In [5]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k, end=" ")

1 2 3 4 5

In [7]:
#Q5-Using while loop, print 5,4,3,2,1
i = 5
while(i):
  print(i, end=' ')
  i -= 1

5 4 3 2 1

In [10]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10,-2,-2):
  if i != 8:
    print(i, end=' ')

10 6 4 2 0

In [15]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(n):
  return 2023-n

print(age(1944))

79

In [36]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def subtraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print("Addition: " + str(arithmetic.addition(3,4)) + ", \nSubtraction: " + str(arithmetic.subtraction(3,4)) + \
      ", \nMultiplication: " + str(arithmetic.multiplication(3,4)) + ", \nDivision: " + str(arithmetic.division(3,4)))

Addition: 7,
Subtraction: -1,
Multiplication: 12,
Division: 0.75

In [18]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input())
sum = 0
for i in range(n+1):
  sum += i
print("Sum: ", sum)

3
Sum:  6

In [31]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
arr = []
for i in range(10):
  arr.append(random.random())
arr[:3]

[0.9423104539784266, 0.024712860390898483, 0.6526672689719074]

In [35]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1,n+1):
  if i%3==0:
    print(i, end=' ')

3 6 9 12 15